@kniho-hlod:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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

@eleansphere:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
